<?xml version="1.0" encoding="utf-8"?><?xml version="1.0" encoding="utf-8"?>

<configuration><configuration>

  <system.webServer>  <system.webServer>

    <!-- Configuração para proxy reverso simples -->    <rewrite>

    <rewrite>      <rules>

      <rules>        <rule name="ReverseProxyInboundRule1" stopProcessing="true">

        <rule name="ReverseProxyInboundRule" stopProcessing="true">          <match url="(.*)" />

          <match url="(.*)" />          <action type="Rewrite" url="http://localhost:3000/{R:1}" />

          <action type="Rewrite" url="http://localhost:3000/{R:1}" />        </rule>

        </rule>      </rules>

      </rules>    </rewrite>

    </rewrite>  </system.webServer>

  </system.webServer></configuration>
</configuration>